html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.iconpark-icon {
  width: 1em;
  height: 1em;
}

/*  修改pico 变量*/
:root,
:host {
  --pico-nav-element-spacing-vertical: 0;
  --pico-nav-element-spacing-horizontal: 0;
  --pico-font-size: 14px;
}
@media (min-width: 576px) {
  :root,
  :host {
    --pico-font-size: 100%;
  }
}
@media (min-width: 768px) {
  :root,
  :host {
    --pico-font-size: 100%;
  }
}
@media (min-width: 1024px) {
  :root,
  :host {
    --pico-font-size: 100%;
  }
}
@media (min-width: 1280px) {
  :root,
  :host {
    --pico-font-size: 100%;
  }
}
@media (min-width: 1536px) {
  :root,
  :host {
    --pico-font-size: 16px;
  }
}
a {
  --pico-text-decoration: none;
}
a.secondary,
a.contrast {
  --pico-text-decoration: none;
}
